$positions: (top, left, right, bottom);
.layout-column {
  flex-direction: column;
  >.flex-all {
    min-height: 0;
  }
}

.layout-row {
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 1 auto;
  &.auto-center {
    margin: 0 auto;
  }
}

.flex-all {
  flex: 1;
}

.flex-none {
  flex: 0 0 auto;
}

.flex-grow {
  flex: 1 1 100%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-nogrow {
  flex: 0 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-noshrink {
  flex: 1 0 auto;
}

.flex-shrink {
  flex: 1 1 0;
}

.flex-third {
  width: calc(100% / 3);
}

@for $i from 1 through 20 {

  .flex-#{$i * 5} {
    flex: 0 0 #{$i * 5%};
    width: #{$i * 5%};
  }

  .spacer-#{$i * 5} {
    margin: #{$i * 5px};
  }
  .spacer-ver-#{$i * 5} {
    margin: 0 #{$i * 5px};
  }
  .spacer-hor-#{$i * 5} {
    margin: #{$i * 5px} 0;
  }
  .pad-#{$i * 5} {
    padding: #{$i * 5px};
  }
  .pad-ver-#{$i * 5} {
    padding: 0 #{$i * 5px};
  }
  .pad-hor-#{$i * 5} {
    padding: #{$i * 5px} 0;
  }
  @each $position in $positions {
    .spacer-#{$position}-#{$i * 5} {
      margin-#{$position}: #{$i * 5px};
    }
    .pad-#{$position}-#{$i * 5} {
      padding-#{$position}: #{$i * 5px};
    }
  }

}
  
.content-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row-center {
  flex-direction: row;
  justify-content: center;
}

.column-center {
  flex-direction: row;
  justify-content: center;
}

.align-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.align-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.align-center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.flex,
.layout,
.layout-row,
.layout-column,
.row-center,
.column-center {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.space-around {
  margin: 0;
  justify-content: space-around;
}

.space-between {
  margin: 0;
  justify-content: space-between;
}

.justify-start {
  margin: 0;
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  margin: 0;
  justify-content: flex-end;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.align-top {
  align-items: flex-start;
}

.self-middle {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.onerow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
   :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
   :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
// @mixin media-query($min, $max: null) {
@include media-query(null, $screen-sm) {

  .align-center-xs {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .flex-third-xs {
    width: calc(100% / 3);
  }
  .layout-row-xs {
    flex-direction: row;
  }
  .layout-column-xs {
    flex-direction: column;
  }
  .flex-full-xs {
    flex: 0 0 100%;
    width: 100%;
  }
  
  .flex-half-mini {
    flex: 0 0 100%;
    width: 100%;
  }

  @for $i from 1 through 20 {
    .flex-xs-#{$i * 5} {
      flex: 0 0 #{$i * 5%};
      width: #{$i * 5%};
    }
  }
}



  
